.chess-board {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 1fr);
    width: 400px;
    height: 400px;
}

.chess-square {
    width: 50px;
    height: 50px;
}

.chess-square:nth-child(odd) {
    background-color: #eee;
}

.chess-square:nth-child(even) {
    background-color: #ccc;
}

.chess-piece {
    width: 100%;
    height: 100%;
    background-size: cover;
}
